.country_container {
  align-items: center;
  @media screen and (max-width: 900px) {
    flex-direction: column;
  }
  @media screen and (max-width: 480px){
    align-items: start;
  }
}
.country_info_container {
  align-items: center;
  @media screen and (max-width: 480px) {
    flex-direction: column;
    align-items: start;
  }
}
